
#Folders
MyFirstTest/build/
MyFirstTest/nbproject/private
MyFirstTest/dist/
MyFirstTest/Errores/

# Type of Files #
MyFirstTest/*.class
MyFirstTest/*.xlsx
*.xlsx

# Package Files #

MyFirstTest/registers.xlsx
